; Managed by ansible/apc-nmc-config.yml.
; This is a partial NMC2 configuration and intentionally contains no credentials.

[NetworkTCP/IP]
HostName={{ apc_nmc_hostname }}
DomainName={{ apc_nmc_domain }}

[NetworkTelnet]
Port=23
Telnet=disabled
SSHPort=22
SSH=enabled

[NetworkSYSLOG]
Syslog=enabled
Facility=User
Server1={{ apc_nmc_syslog_server }}
Port1={{ apc_nmc_syslog_port }}
Protocol1=0
Language1=enUs
SyslogMapCritical=Critical
SyslogMapWarning=Warning
SyslogMapInformational=Info

[NetworkWeb]
Port=80
HTTP=disabled
HTTPSPort=443
HTTPS=enabled
MinimumProtocol=TLS1.2

[SystemID]
Name={{ apc_nmc_hostname }}
